# ignore build directory
build/

# ignore node files
node_modules/

# idea files
.idea/

# dist files
dist/

# macOS related files
.DS_Store

# coverage reports
coverage/

# yarn files
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*