.performance-tab {
    height: 100%;
}

.pane {
    padding-top: 10px;
    padding-right: 24px;
}

.chart {
    padding-top: 10px;
}

.chart-text {
    color: dimgrey;;
    font-size: x-small;
}

.tab {
    height: 100%;
    width: 100%;
    display: flex;
}

.tab-chart {
    width: 50%;
}

.tab-text {
    text-align: left;
    padding-left: 10px;
    width: 50%;
}

.align-left {
    text-align: left;
}

.align-right {
    float: right;
}

.big-title {
    color: black;
    font-size: x-large;
}

.title {
    color: black;
    font-size: large;
}

.subtitle {
    color: dimgray;
    font-size: small;
    font-weight: normal;
}