.performance-tab {
    height: 100%;
    padding-top: 10px;
}

.pane {
    padding-top: 10px;
    padding-right: 24px;
}

.chart {
    padding-top: 6px;
    padding-bottom: 6px;
}

.chart-text {
    color: dimgrey;
    font-size: x-small;
}

.static-title {
    font-size: small;
    color: dimgrey;
}

.static-value {
    font-size: small;
    color: black;
    text-align: left;
}

.tab {
    height: 100%;
    width: 100%;
    display: flex;
}

.tab-chart {
    width: 70px;
}

.tab-text {
    text-align: left;
    padding-left: 10px;
    width: 50%;
}

.big-title {
    color: black;
    font-size: x-large;
}

.title {
    color: black;
    font-size: 20px;
}

.subtitle {
    color: dimgray;
    font-size: 12px;
    font-weight: normal;
}