.process-tab {
  height: 100%;
  background-color: transparent;
}

.table {
  height: calc(100% - 80px);
  border: none;
  user-select: none;
}

.header-cell {
  background-color: #fafafa;
  border-bottom: solid 1px lightgray;
}

.title {
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.subtitle {
  font-size: 13px;
  color: gray;
  font-weight: 400;
}

.footer {
  width: 100%;
  height: 80px;
  padding-top: 16px;
  padding-right: 20px;
}

.normal-row {
  color: black;
  font-weight: 500;
  font-size: 14px;
  border: none;
}

.normal-row:hover {
  background-color: rgba(178, 219, 255, 0.6);
}

.selected-row {
  @extend .normal-row;
  background-color: rgba(36, 169, 225, 0.3);
}

.command-cell {
  text-overflow: ellipsis;
}

.num-cell {
  text-align: right;
  border-left: solid 1px rgba(236, 217, 171, 0.7);
}

.busy-num-cell {
  border-left: solid 1px rgba(#f5222d, 0.6);
  border-right: solid 1px rgba(#f5222d, 0.6);
}

.busy-header-cell {
  border-top: solid 1px rgba(236, 30, 30, 0.6);
  border-left: solid 1px rgba(236, 30, 30, 0.6);
  border-right: solid 1px rgba(236, 30, 30, 0.6);
  border-bottom: solid 1px transparent;
  background-color: rgba(236, 30, 30, 0.6);
}

.busy-header-cell .subtitle {
  color: #f0f0f0;
}

.busy-header-cell:hover {
  background-color: rgba(236, 30, 30, 0.6);
}

.level-0 {
  @extend .num-cell;
  background: linear-gradient(rgba(255, 244, 196, 0.7), rgba(255, 244, 196, 0.7));
}

.level-1 {
  @extend .num-cell;
  background: linear-gradient(rgba(255, 244, 196, 0.7), rgba(255, 244, 196, 0.7));
}

.level-2 {
  @extend .num-cell;
  background: linear-gradient(rgba(249, 236, 168, 0.7), rgba(249, 236, 168, 0.7));
}

.level-3 {
  @extend .num-cell;
  background: linear-gradient(rgba(255, 236, 135, 0.7), rgba(255, 236, 135, 0.7));
}

.level-4 {
  @extend .num-cell;
  background: linear-gradient(rgba(255, 210, 98, 0.7), rgba(255, 210, 98, 0.7));
}

.level-5 {
  @extend .num-cell;
  background: linear-gradient(rgba(255, 198, 61, 0.7), rgba(255, 198, 61, 0.7));
}

.level-6 {
  @extend .num-cell;
  background: linear-gradient(rgba(252, 184, 97, 0.7), rgba(252, 184, 97, 0.7));
}

.level-7 {
  @extend .num-cell;
  background: linear-gradient(rgba(252, 184, 22, 0.7), rgba(252, 184, 22, 0.7));
}

.level-8 {
  @extend .num-cell;
  background: linear-gradient(rgba(254, 120, 64, 0.7), rgba(254, 120, 64, 0.7));
}
