.process-tab {
  height: 100%;
}

.num-cell {
  text-align: right;
  border-left: solid 1px rgb(236, 217, 171);
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.subtitle{
  color: dimgray;
  font-size: small;
}

.table {
  border: none;
  overflow: hidden;
  display: block;
  height: calc(100% - 80px);
}

.row {
  color: black;
  font-weight: 500;
}

.endtask {
  float: right;
}

.footer {
  padding-top: 16px;
  padding-right: 20px;
  height: 80px;
  background: transparent;
}

.selected {
  background-color: rgba(36, 169, 225, 0.3);
}

.level-1 {
  background-color: rgb(255, 244, 196);
}

.level-2 {
  background-color: rgb(249, 236, 168);
}

.level-3 {
  background-color: rgb(255, 236, 135);
}

.level-4 {
  background-color: rgb(255, 210, 98);
}

.level-5 {
  background-color: rgb(255, 198, 61);
}

.level-6 {
  background-color: rgb(252, 184, 97);
}

.level-7 {
  background-color: rgb(252, 184, 22);
}

.level-8 {
  background-color: rgb(254, 120, 64);
}