.ant-table-tbody > tr > td {
    border-bottom: 0;
    transition: none;
}

th.ant-table-column-sort {
    background-color: rgba(178, 219, 255, 0.4) !important;
}

td.ant-table-column-sort {
    background: none;
}

.ant-table-tbody > tr.ant-table-row-level-0:hover > td {
    background-color: rgba(36, 169, 225, 0.1) !important;
}